// Colors
$white: #ffffff;
$black: #000000;
$grey-secondary: #DDDDDD;
$grey-third: #EDF3FF;
$grey-fourth: #FAFCFF;
$green: #01D167;
$blue-primary: #0C365A;
$blue-secondary: #23CEFD;
$theme-color-light: #ffab004d;
